<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249559896191-7htbq0jd99p984pjop78b4n71h2d9sr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249559896191-7htbq0jd99p984pjop78b4n71h2d9sr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAtHLYqdj0Ma7bWyCLG7GCf7K5bMtHzEK8</string>
	<key>GCM_SENDER_ID</key>
	<string>249559896191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>justcode.FirebaseClassWord</string>
	<key>PROJECT_ID</key>
	<string>myfirebaseapp-b3375</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebaseapp-b3375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249559896191:ios:d67ea686acae9bd6df2f4a</string>
</dict>
</plist>